@model List<BaiKiemTra02.Models.LopHoc>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên lớp học</th>
            <th>Số lượng sinh viên</th>
            <th>Năm nhập học</th>
            <th>Năm ra trường</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lophoc in Model)
        {
            <tr>
                <td>@lophoc.Id</td>
                <td>@lophoc.TenLopHoc</td>
                <td>@lophoc.SoLuongSinhVien</td>
                <td>@lophoc.NamNhapHoc</td>
                <td>@lophoc.NamRaTruong</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = lophoc.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = lophoc.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>